<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Better Google Web Fonts</title>
<link rel="stylesheet" media="screen" href="google-families.css" />

<script> var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-518812-8"]);_gaq.push(["_trackPageview"]);(function(A){var C=A.createElement("script");C.async=true;C.src=("https:"==A.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var B=A.getElementsByTagName("script")[0];B.parentNode.insertBefore(C,B);})(document); </script>
</head>

<body>
<header>
	<h1>Google Web Fonts Families</h1>
	<h2>Because web designers want font families, not just fonts.</h2>
	<div id="filters"></div>
</header>

<div id="fonts"></div>

<script id="font-template" type="text/template">
		<h3><a href='<%= extlink %>' target='_blank'><%= family %></a></h3>
		<ul><% _.each(variants, function(v){
			var text = v.replace(/regular/i, '400').replace(/bold/i, '700'),
				isItalic = /italic/.test(text),
				weight = text.replace(/ ?italic/, ''),
				style = (weight !== '') ? 'font-weight:'+weight+';' : '';
			style = (isItalic) ? style + 'font-style:italic;' : style;
			%><li style="<%= style %>"><%= text %></li><%
		}); %></ul>

</script>

<footer>Another type-related service brought to you by <a href="http://somadesign.ca/">Soma Design</a>. <a href="http://somadesign.ca/2011/better-google-fonts/">Read the blog post</a> or <a href="https://github.com/mattwiebe/Better-Google-Fonts">fork the code</a>.</footer>
<script src="jquery-1.8.3.min.js"></script>
<script src="app.js"></script>
</body>
</html>